/* index.html 시작============================ */
.indexTitleEmpty {
    min-height: 30dvh;
}
.indexTitle {
    border: 2px solid black;
    border-bottom: none;
    padding: 2dvh 0dvh 2dvh 0dvh;
}
.indexTitleText {
    text-align: center;
    margin-block-start: 0px;
    margin-block-end: 0px;
}
.indexStudyListGrid {
    border: 2px solid black;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}
.indexStudy {
    text-align: center;
}
.rightB {
    border-right: 2px solid black;
}
.indexMainATag, .indexATag {
    text-decoration: none;
}
.indexMainATag:link, .indexMainATag:visited {
    color: black;
}
.indexATag:link, .indexATag:visited {
    color: rgb(33, 199, 69);
}
.indexETCGrid {
    border: 2px solid black;
    border-top: 0px;
    display: grid;
    grid-template-columns: 1fr 1fr;
}
/* index.html 끝============================ */

/* nav_Study 시작============================ */
.nav_studyVer {
    min-height: 5dvh;
}
.nav_studyTitleGrid {
    display: grid;
    grid-template-columns: 2fr 1fr;
}
.nav_studyTitleDiv {
    padding: 20px 0px 20px 0px;
}
.nav_studyTitleText {
    border-bottom: 2px dotted black;
    margin-block-start: 0px;
    margin-block-end: 0;
}
.nav_studyTitleTextUnderLine {
    border-bottom: 2px dotted black;
    display: block;
    font-size: 2px;
    color: white;
}
/* nav_Study 끝============================ */

/* Study 시작============================ */
.mainTitleSection {
    display: inline-block;
    width: 70%;
    background: linear-gradient(to right, #6ed16e, transparent);
    margin: 40px 0px 50px 0px;
    padding-left: 10px;
}
.mainTitleText {
    margin: 3px 0px 3px 0px;
    color: #fdfdfd;
    font-size: 34px;
}
.subArticle {
    width: 50%;
    margin: 0px 0px 30px 0px;
}
.subGroup {
    padding: 10px;
    border: 2px solid #7fd57f;
    border-top: 0px;
}
.subGroupC {
    padding-top: 20px;
}
.subTitle {
    margin: 0px;
    padding: 10px;
    background: #a7e5a7;
    color: #fdfdfd;
}
.subGrid {
    display: grid;
    grid-template-columns: 15% auto;
}
.subTitle {
    align-content: center;
    text-align: center;
    background: #a7e5a7;
    color: #fdfdfd;
    border: 1px solid #7fd57f;
}
.subText {
    border: 1px solid #7fd57f;
    padding: 5px 0px 5px 5px;
}
.subTitleHowUse {
    align-content: center;
    text-align: center;
    background: #a7e5a7;
    color: #fdfdfd;
    border: 1px solid #7fd57f;
    padding: 0px;
}
.subTextHowUse {
    align-content: center;
    text-align: center;
    background: #a7e5a7;
    color: #fdfdfd;
    border: 1px solid #7fd57f;
    padding: 1px;
}
/* Study 끝============================ */

/* 공통 시작============================ */
.du {
    color: red;
}
.noDisplay {
    display: none;
}
/* 공통 끝============================ */